@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.7;
    color: #777;
    background-color: rgb(94, 5, 236);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section__wrapper {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 425px;
    text-align: center;
}

.section__wrapper__heading {
    margin-bottom: 20px;
}

.section__wrapper__input {
    margin-bottom: 20px;
    position: relative;
}

.section__wrapper__spans {
    margin-bottom: 20px;
    display: none;
}

.section__wrapper__input__inpt {
    width: 100%;
    border: 2px solid #eee;
    outline: 0;
    border-radius: 3px;
    padding: 12px;
    font-size: 17px;
}

.section__wrapper__input__inpt:focus {
    border: 2px solid rgb(73, 202, 101);
}

.section__wrapper__input__press {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.section__wrapper__spans>.indicator {
    display: inline-block;
    border-radius: 5px;
    width: 109px;
    height: 10px;
    margin-left: 5px;
    background-color: #eee;
}

.section__wrapper__p {
    color: #000 !important;
    font-size: 17px;
}