<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/check__password.css" />
</head>
<section>
    <div class="section__wrapper">
        <h3 class="section__wrapper__heading">
            Password Strength Checker JavaScript & html & css
        </h3>
        <div class="section__wrapper__input">
            <input type="password" placeholder="Type Password" class="section__wrapper__input__inpt" value="" />
            <span class="section__wrapper__input__press">SHOW</span>
        </div>
        <div class="section__wrapper__spans">
            <span class="section__wrapper__spans__week indicator"></span
        ><span class="section__wrapper__spans__medium indicator"></span
        ><span class="section__wrapper__spans__strong indicator"></span>
        </div>
        <p class="section__wrapper__p"></p>
    </div>
</section>

<body>
    <script src="../static/js/check__password.js"></script>
</body>

</html>